<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     |████████████████████████████████| 6.0 MB 2.1 MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-macosx_10_9_x86_64.whl size=1153923 sha256=4e701f9c218eefc5da15be61ff280861258976e765ca6a190f4c85da1941897e
  Stored in directory: /Users/wilsonlee/Library/Caches/pip/wheels/5b/43/0d/de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.32
    Uninstalling SQLAlchemy-1.4.32:
      Successfully uninstalled SQLAlchemy-1.4.32
Successfully installed sqlalchemy-1.3.9

In [5]:
!pip install ibm_db_sa
!pip install ipython-sql

Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.0-py3-none-any.whl (31 kB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     |████████████████████████████████| 1.4 MB 2.2 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ibm_db_sa) (1.3.9)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (PEP 517) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.4-cp39-cp39-macosx_10_15_x86_64.whl size=32403588 sha256=fd58122c71ab9e1c922d6bea830419b6c9bb9269fa72c8cab82921d38f3ec32f
  Stored in directory: /Users/wilsonlee/Library/Caches/pip/wheels/7b/2d/a5/26b4ad8bcc66c7e90efe5c8a6e20c26d5327ff82161e6b1490
Successfully built ibm-db
Installing collected packages: ibm-db, ibm-db-sa
Successfully installed ibm-db-3.1.4 ibm-db-sa-0.4.0
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.12-cp39-cp39-macosx_10_9_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 2.3 MB/s eta 0:00:01
Requirement already satisfied: ipython-genutils in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.7.0-py3-none-any.whl (27 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 288 kB/s eta 0:00:011
Requirement already satisfied: six in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: decorator in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=5 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: appnope in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: stack-data in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Users/wilsonlee/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.7.0 sqlalchemy-2.0.12 sqlparse-0.4.4

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [6]:
%load_ext sql

In [7]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [8]:
!pip install -q pandas==1.1.5

In [9]:
%sql sqlite:///my_data1.db

In [10]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%sql select distinct Launch_Site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [29]:
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [30]:
%sql select sum(payload_mass__kg_) from SPACEXTBL where Customer = "NASA (CRS)"

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [32]:
%sql select avg(payload_mass__kg_) from SPACEXTBL where Booster_Version = "F9 v1.1"

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [35]:
%sql select min(DATE) from SPACEXTBL WHERE [Landing _Outcome] = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [37]:
%sql select booster_version from SPACEXTBL \
where [Landing _Outcome] = 'Success (drone ship)' \
and payload_mass__kg_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [38]:
%sql select mission_outcome, count(mission_outcome) \
from SPACEXTBL GROUP BY mission_outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [39]:
%sql select booster_version, payload_mass__kg_ from SPACEXTBL \
where payload_mass__kg_ = (select max(payload_mass__kg_) \
                           from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [42]:
%sql select booster_version, launch_site from SPACEXTBL where \
[Landing _Outcome] = 'Failure (drone ship)' and substr(Date,7,4)\
='2015'

 * sqlite:///my_data1.db
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40'), ('F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [45]:
%sql select count([Landing _Outcome]), [Landing _Outcome] from SPACEXTBL \
where DATE between '2010-06-04' and '2017-03-20' group by [Landing _Outcome]\
order by count([Landing _Outcome]) desc

 * sqlite:///my_data1.db
Done.

[]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>